@import "../theme";
@import "../views/Login";
@import "../ui/Button";

.BaseContainer {
  @extend .login, .container;
  padding: 2rem;
  @media screen and (min-width: 768px) {
    padding: 1rem;
  }
}

.BaseDiv {
  @extend .login, .form;
  min-height: 40vh;
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  margin: 0 auto;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    padding: 4rem;
  }

}


.title-section, .input-section, .button-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 5px;
}


.normalInput {
  padding: 2px;
  width: 100%;
  max-height: 50%;
  display: flex;
  background: $inputblue;
  border: 2px solid transparent;
  box-shadow: $dropShadow;
  border-radius: $borderRadius;
  margin-top: 0.5rem;
  color: $textColor;
  font-weight: bold;
  text-align: center;
  font-size: $inputfontsize;

  &:hover {
    border: 2px solid $textColor;
  }

  cursor: pointer;
}


.customizebtn {
  @include center;
  @extend .join-button;
  height: 40px;
  width: 200px;
  text-size-adjust: auto;
  font-size: $inputfontsize;
  margin: 5px;
}

.buttongroup {
  @include center;
  flex-direction: row;
  flex-grow: 1;
}

.label {
  color: $textColor;
  font-weight: bold;
  align-self: flex-start;
  width: auto;
  font-size: $inputfontsize;
  @media screen and (min-width: 768px) {
    width: 280px;
  }
}

.inputpair {
  @include center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    margin: 1.5rem;
  }
}


.grid {
  @include center;
  overflow-wrap: anywhere;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 5px;
  grid-column-gap: 10px; /* Keeps a constant gap between both rows and columns */
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);

  }
}

.gridtop {
  @extend .grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(2, 1fr);

  }


}



