@import "../theme";

.BaseDivGame{
  display: flex;
  min-height: 100px;
  flex-direction: column;
  justify-content: center;
  height: 40em;
  max-height: 40em;
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  border-radius: 0.75em;
  border: solid $textColor 2px;
  background-color: $lightviolet;
  transition: opacity 0.5s ease, transform 0.5s ease;
  box-shadow: $dropShadow;
  flex-grow: 1;

}

.screen-gridhandler{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
  justify-content: start;
  align-items: start;
  padding-bottom: 10px;
  padding-top: 10px;
}


.gridhandlercards{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr); // Creates two columns of equal width
  grid-row-gap: 5px;
  grid-column-gap: 5px; // Keeps a constant gap between both rows and columns
  justify-content: start;
  align-items: start;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.gridhandler-stats{
  overflow-y: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr); // Creates two columns of equal width
  grid-row-gap: 20px;
  grid-column-gap: 20px; // Keeps a constant gap between both rows and columns
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;

}

.col6 {
  grid-column: 1 / span 5;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  width: (($DESKTOP_WIDTH/7) * 5) * 0.9

}

.col7 {
  grid-column: 6 / 8;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  color: $textColor;
  width: ($DESKTOP_WIDTH / 7) * 2
}

.stats{
  @include center;
  flex-direction: column;

}

.h2-title{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: $textColor;
}

.test{
  margin: 20px;
  border: solid red;
}

//card set

.gameMessageposition{
  @include center;
}

.alert.gameMessageContainer {
  display: flex;
  height: 100px;
  width: 200px;
  align-items: center;
  justify-content: center;
  border: 2px solid $textColor;
  border-radius: 15px;
  background-color: $inputblue;
  box-shadow: $dropShadow;
}

.gameMessage {
  color: $textColor;
  font-size: 16px;
  text-align: center;
}


.basicCardContainer {
  display: flex;
  flex-direction: row;
  padding: 10%;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 103px;
  height: 148px;
  align-content: center;
  justify-content: center;
  margin: 2%;
  background: #0E525E;
  border: solid 1px $textColor;
  border-radius: $borderRadius;
  transition: transform 0.5s ease;
}


.card.card-back {
  transform: rotateY(180deg);
  background-color: red;
  color: white;
}

.card.greyed {
  background-color: $inputblue;
  color: $textColor
}


.card .flipped {
  color: $textColor;
  transform: rotateY(180deg);
}

.card-inner{
  @include center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.albumcover{
  transform: rotateY(180deg);
  @include center;
  height: 50%;
  width: 75%;
  background-color: #494554;
  border-radius: $borderRadius;
  border: solid $textColor 1px;
  margin-bottom: 3px;
}

.songtitle{
  transform: rotateY(180deg);
  margin-top: 2px;
  width: 75%;
  font-size: small;
  text-align: left;
}

.artisttitle{
  @extend .songtitle;
  font-size: smaller;
}
