@import "../theme";
@import "../views/Login";
@import "../views/CustomizeGameParameter";

.BaseDivLobby {
  @extend .BaseDiv;
  max-height: ($DESKTOP_WIDTH / 1) + 20;
  min-height: 70vh; // Adjust this value based on your needs
  padding: 1vw;
  border: none;
}

.gridhandler {
  @include center;
  overflow-wrap: anywhere;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 20px;
  grid-column-gap: 2vw;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;

  @media screen and (min-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }

}

.centerwrapper {
  @include center;
  flex-direction: column; /* Stack items vertically */
}

.spotifyPlaylistContainer {
  overflow: auto;
  @include center;
  background: $accent;
  border: solid $textColor 2px;
  border-radius: $borderRadius;
  margin: 5px;
  width: 25vw;
  height: 30vw;
  padding: 1vw;
  box-shadow: $dropShadow;
  overflow: clip;
  min-width: 300px;
  min-height: 350px

}

.imgContainer {
  @extend .spotifyPlaylistContainer;
  background: transparent;
  border: 0;
  box-shadow: None;
  padding: 0;
  align-items: baseline !important;
  @include center;
}

.img {
  box-shadow: $dropShadow;
  border: solid 2px transparent;
  border-radius: $borderRadius;
  &:hover {
    border: 2px solid $textColor;
  }
}

.imgandtext{
  width: 100%;
}

.buttonContainer {
  @include center;
  width: 80%;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  gap: 25px; /* Add appropriate spacing between buttons */
  margin: 20px;

}


.playergrid {
  @extend .gridhandler;
  @include center;
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 15px;
  background: $accent;
  border: solid 2px transparent;
  border-radius: $borderRadius;
  width: 80%;
  padding: 1vh;
  box-shadow: $dropShadow;
  min-width: 400px;
  display: flex !important;
  text-align: center;

}

.grid-item {
  overflow: visible;
  align-content: center;
}

.h3-title {
  font-size: large;
  font-weight: bold;
  color: $textColor;
}
.playlist-name{
  @extend .h2-title;
  justify-content: center;
  margin: 5px;
  overflow: clip;
}

.second-column-top-item-lw{
  grid-column: 2 / 3;
  grid-row: 1; // Only in the first row
  align-self: center;
  justify-self: left;
  color: $textColor;
  width: 100%;
  text-overflow: ellipsis !important;
}

