@import "../theme";
@import "../views/Login";
@import "../views/CustomizeGameParameter";

.BaseDivLobby {
  @extend .BaseDiv;
  //border: solid red;
  max-height: ($DESKTOP_WIDTH / 1) + 20;
  min-height: 100px; // Adjust this value based on your needs
  padding: 20px;
  overflow-x: clip !important;
}

.gridhandler {
  display: grid;
  grid-template-columns: repeat(1, 1fr) ;
  grid-gap: 10px;
  padding: 20px;
  grid-column-gap: 50px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);}
}

.newGameButton {
  padding: 20px;
  width: 100vw;
  align-self: center;
}

.grid-item {
  overflow-wrap: anywhere;
  //padding: 10px;
}
