@import "../theme";

.login {
  &.container {
    width: 100%;
    display: flex;
    margin-top: 2em;
    min-height: 30vh;
    @include center;
    flex-direction: column;

  }

  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 25em;
    font-size: 16px;
    font-weight: 300;
    padding: 1rem;
    border-radius: $borderRadius;
    //border: solid $textColor 2px;
    background-color: $lightviolet;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;

    .h2-title {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
      color: $textColor;
    }

    .logoContainer {
      padding: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
    }
  }


}
