@import "../theme";

.login {
  &.container {
    width: 100%;
    display: flex;
    margin-top: 2em;
    min-height: 300px;
    @include center;
    flex-direction: column;

  }

  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 25em;
    font-size: 16px;
    font-weight: 300;
    padding: 1rem;
    border-radius: 0.75em;
    border: solid $textColor 2px;
    background-color: $lightviolet;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;

    .h2-title {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
      color: $textColor;
    }

    .logoContainer {
      padding: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
    }
  }

  &.field {
    @include center;

  }

  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }

  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }

  &.button-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    align-self: center;
  }
}
