@import "../theme";

.login {
  &.container {
    width: 100%;
    display: flex;
    margin-top: 2em;
    @include center;
    flex-direction: column;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    min-height: 80vh;

  }

  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 60vh;
    font-size: 16px;
    font-weight: 300;
    padding: 1rem;
    border-radius: $borderRadius;
    background-color: $lightviolet;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;

    .h2-title {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
      color: $textColor;
    }

    .logoContainer {
      padding: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      margin: 2rem;
    }
  }
}

.button-container{
  @include center;
  margin: 2rem;
}

.errmsg{
  text-align: justify !important; ;
}
