@import "../theme";
@import "../views/Login";
@import "../ui/Button";
@import "../views/GameScreen";

.base{
  @include center;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 10%;
  width: 80%;
}

.albumcoverinplayer{
  @include center;
  transform: None;
  justify-self: center;
  align-self: center;
  height: 40%;
  width: 40%;
  border-radius: $borderRadius;
}

.now-playingside{
  @include center;
  display: flex;
  flex-direction: column;
  margin: 1rem;

}


.now-playing-name{
  font-weight: bold;
  text-align: justify-all;
  text-overflow: ellipsis;
  margin: 0.5rem;
}

.now-playing-artist{
  @extend .now-playing-name;
  font-weight: normal;
}



.spotifyButtonplayer{
  @extend .spotifyButton;
  @include center();
  align-self: center;
  justify-self: center;
  font-size: medium;
  margin: 0.5rem;
  width: 30px;

  &.middle{
    width: 80px;
  }

  &.big{
    width: 120px;
  }
}

.volumebuttons {
  @include center;
  display: flex;
  flex-direction: row;
  border-radius: $borderRadius;

}

::-webkit-scrollbar {
  display: none;  /* Hides the scrollbar */
}

.button-container-2{
  margin-top: 5px ;
}
