@import "../theme";
@import "../views/CustomizeGameParameter";

.userbox {
  @extend .normalInput;
  @include center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: $turquise;
  width: 300px;
  border-radius: $borderRadius;
  max-height: 50px;
  margin-bottom: 10px;

}

.centered-column {
  @include center;
}

.button-label {
  @include center;
}

.notification-bubble {
  @include center;
  height: 35px;
  width: 35px;
  background-color: $turquise;
  border-radius: 50%;
  border: solid $textColor 2px;
  color: $textColor;
  padding: 2px 6px;
  position: relative;
  top: -15px;
  right: -30px;
}
