/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$accent: #5D48DF;
$accentDark: #7262D6;
$lightviolet: #7262D6;
$textColor: #D9D9D9;
$background: #0E525E;
$warning: #FF4589;
$turquise: #00A1B3;
$spotifygreen: #1DB954;
$inputblue: #006FFC;
$backgroundgrey: #494554;

$buttonedge: 50px;
$divedge: 20px;

$inputfontsize: 18px;

/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.75em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//scrollbar
::-webkit-scrollbar {
  width: 5px;
  border-radius: $borderRadius;
}

::-webkit-scrollbar-track {
  background: $textColor;
  //border-right: 10px $lightviolet solid;
  //border-left: 10px $lightviolet solid;

  background-clip: padding-box;
  border-radius: $borderRadius;

}

ul, li {
  list-style-type: none;
  padding-left: 0;
}

::-webkit-scrollbar-thumb {
  background: $turquise;
  //border-right: 10px $lightviolet solid;
  //border-left: 10px $lightviolet solid;

  background-clip: padding-box;
  border-radius: $borderRadius;


}

::-webkit-scrollbar-thumb:hover {
  background: $inputblue;
}
